.DS_Store
_3rdParty/*
cmake_install.cmake
Makefile
CMakeFiles/*
CMakeCache.txt
CTestTestfile.cmake
string_search
test_target
benchmark/needle_randomtext_4alphabet_10e3.txt
benchmark/needle_randomtext_4alphabet_10e3_100.txt
benchmark/needle_randomtext_4alphabet_10e4.txt
benchmark/needle_randomtext_4alphabet_10e4_100.txt
benchmark/needle_randomtext_4alphabet_10e5.txt
benchmark/needle_randomtext_4alphabet_10e5_100.txt
benchmark/needle_randomtext_4alphabet_10e6.txt
benchmark/needle_randomtext_4alphabet_10e6_100.txt
benchmark/needle_randomtext_4alphabet_10e7.txt
benchmark/needle_randomtext_4alphabet_10e7_100.txt
benchmark/needle_randomtext_fullalphabet_10e3.txt
benchmark/needle_randomtext_fullalphabet_10e3_100.txt
benchmark/needle_randomtext_fullalphabet_10e4.txt
benchmark/needle_randomtext_fullalphabet_10e4_100.txt
benchmark/needle_randomtext_fullalphabet_10e5.txt
benchmark/needle_randomtext_fullalphabet_10e5_100.txt
benchmark/needle_randomtext_fullalphabet_10e6.txt
benchmark/needle_randomtext_fullalphabet_10e6_100.txt
benchmark/needle_randomtext_fullalphabet_10e7.txt
benchmark/needle_randomtext_fullalphabet_10e7_100.txt
benchmark/randomtext_4alphabet_10e3.txt
benchmark/randomtext_4alphabet_10e3_100.txt
benchmark/randomtext_4alphabet_10e4.txt
benchmark/randomtext_4alphabet_10e4_100.txt
benchmark/randomtext_4alphabet_10e5.txt
benchmark/randomtext_4alphabet_10e5_100.txt
benchmark/randomtext_4alphabet_10e6.txt
benchmark/randomtext_4alphabet_10e6_100.txt
benchmark/randomtext_4alphabet_10e7.txt
benchmark/randomtext_4alphabet_10e7_100.txt
benchmark/randomtext_fullalphabet_10e3.txt
benchmark/randomtext_fullalphabet_10e3_100.txt
benchmark/randomtext_fullalphabet_10e4.txt
benchmark/randomtext_fullalphabet_10e4_100.txt
benchmark/randomtext_fullalphabet_10e5.txt
benchmark/randomtext_fullalphabet_10e5_100.txt
benchmark/randomtext_fullalphabet_10e6.txt
benchmark/randomtext_fullalphabet_10e6_100.txt
benchmark/randomtext_fullalphabet_10e7.txt
benchmark/randomtext_fullalphabet_10e7_100.txt
benchmark/results.txt
benchmark/results_.txt
a.out
